.Sidebar {
    width: 80px;
    height: 100%;
    background-color: rgba(32, 32, 35, 1);
    border-right: 1px solid rgba(189, 189, 192, 0.1);
    transition: width 0.3s;
}

@media (min-width: 576px) {
    .Sidebar {
        width: 320px;
    }
}